.banner .swiper {
  width: 240px;
  height: 320px;
  margin-top: -4rem;
  margin-left: -25%;
}

.banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.banner .swiper-slide:nth-child(1n) {
background-image: url("../assets/images/book1.png");
}

.banner .swiper-slide:nth-child(2n) {
  background-image: url("../assets/images/book2.png");
}

.banner .swiper-slide:nth-child(3n) {
  background-image: url("../assets/images/book3.png");
}

.banner .swiper-slide:nth-child(4n) {
  background-image: url("../assets/images/book4.png");
}

.banner .swiper-slide:nth-child(5n) {
  background-image: url("../assets/images/book5.png");
}






